/*
#F7D29B   -   amarelo
#3B0A35   -   roxo 1
#210522   -   roxo 2

#160517   -   roxo 3
*/



@font-face {
    font-family: FedraSansLI;
    src: url("../fonts/Fedra Sans Light Italic.ttf");
}

@font-face {
    font-family: FedraSansB;
    src: url("../fonts/Fedra Sans Bold.otf");
}

@font-face {
    font-family: FedraSansL;
    src: url("../fonts/Fedra Sans Light.ttf");
}

@font-face {
    font-family: NoAddedSugar;
    src: url("../fonts/NoAddedSugar-2REW.ttf");
}

html {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#55023b, #1d0520);
}

.logoLogin {
    width: 300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    top: 35%;
    transition: 0.4s ease-out;
}


/*    Username block "USERNAME"   */
::placeholder {
    color: white;
    font-size: 25px;
    font-family: "FedraSansLI";
    text-align: center;
}


/*    Username block INPUT   */
input[type="text"],
select {
    font-family: FedraSansL;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 2px solid #F7D29B;
    border-radius: 10px;
    padding: 15px 50px 10px;
    width: 40%;
    margin: auto;
    position: fixed;
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    opacity: 0.7;
/*    transition: 1.4s ease-out;*/
    font-size: 25px;
    transition: 5.4s ease-out;
}


.mudarCor {
   
    background-color: #F7D29B;
    border: 2px solid #F7D29B;
    border-radius: 10px;
    padding: 45px 50px 10px;
    width: 40%;
    margin: auto;
    position: fixed;
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    opacity: 1;
    transition: 1.4s ease-out;
    transition: 1.4s ease-out;
    display: none;
}

/*    ENTER botão    */
.enter {
    background-color: #3B0A35;
    border-radius: 20px;
    padding: 10px 5px;
    width: 40%;
    position: fixed;
    left: 50%;
    top: 530px;
    margin-top: 90px;
    display: block;
    opacity: 1;
    border: 0;
    -webkit-transform: translate(-50%, -50%);
    transition: 1.4s ease-out;
    z-index: 1;
}

/*    ENTER botão TEXTO   */
.enter span {
    color: white;
    font-family: "FedraSansB";
    font-size: 20px;
    margin-left: 0px;
    text-transform: uppercase;
}

/*    duvidas "?"   */
.questions {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: "FedraSansB";
    color: #3B0A35;
    background-color: #F7D29B;
    border-radius: 5px;
    border: none;
    margin: auto;
    top: 95vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    font-size: 20px;
    transition: 1.4s ease-out;
    z-index: 1;
    animation: ease;
}

#reload{
   width: 45px;
    position: fixed;
    top:20px;
    right:20px;
    display: none;
}

/*    frase de apresentação   */
.greet {
    color: white;
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    display: block;
    top: 40px;
    font-family: "FedraSansL";
    color: #3B0A35;
    font-size: 25px;
    text-align: center;
    display: none;
}

.intro {
    width: 80%;
    height: 100%;
    display: block;
    position: fixed;
    opacity: 1;
    left: 0px;
    top: 0px;
    display: none;
    left: 50%;
    -webkit-transform: translate(-50%);
    overflow: scroll;
}

.safeSpace {
    color: #3B0A35;
    font-family: FedraSansL;
    font-size: 15px;
    top: 80px;
    position: fixed;
    line-height: 17px;
    display: none;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
    text-align: center;
    width: 250px;
}

/*    emojis mood  */
#emoji {
    width: 55px;
margin-top: 10px;
}

/*    emojis bloco  */
.mood {
    background-color: #210522;
    text-align: center;
    position: relative;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    margin: auto;
    margin-top: 65%;
    display: none;
}

/*    emojis texto  */
.moodText {
    font-family: FedraSansL;
    font-size: 17px;
    color: white;
    display: none;
    text-align: center;
    margin-top:160px;
    margin-bottom:-200px;
    
}

/*    data bloco  */
.date {
    width: 140px;
    height: 140px;
    position: inherit;
    border-radius: 20px;
    background-color: #210522;
    opacity: 1;
    margin-top: 5%;
    display: none;
    z-index: 0;
}

/*    data dia  */
.day {
    color: #F7D29B;
    font-family: FedraSansB;
    font-size: 80px;
    text-align: center;
    line-height: 30px;
    display: block;
    margin-bottom: 15px;
    margin-top: 25%;
}

/*    data mes  */
.month {
    display: block;
    text-align: center;
    color: #F7D29B;
    font-family: FedraSansB;
    font-size: 35px;
    text-align: center;
}

/*    tempo gasto bloco  */
.timeSpentBlock {
    height: 140px;
    width: 170px;
    position: inherit;
    border-radius: 20px;
    background-color: #210522;
    opacity: 1;
    margin-top: 5%;
    right: 0;
    align-content: center;
    display: none;
}

/*    tempo gasto texto  */
span.timeSpent {
    font-family: FedraSansL;
    font-size: 20px;
    line-height: 25px;
    color: white;
    position: absolute;
    padding: 15px;
}

/*    ultimo bloco, por definir  */
.lastBlock {
    height: 180px;
    width: 100%;
    position: inherit;
    border-radius: 20px;
    background-color: #210522;
    opacity: 1;
    margin-top: 52%;
    align-content: center;
    display: none;
}

.lastBlockText {
    color: white;
    font-family: FedraSansL;
    height: 90px;
    margin: 0 20px;
    margin-top: 15px;
    display: inline-block;
    line-height: 25px;
    overflow: hidden;
}

.plus {
    width: 70px;
    height: 70px;
    top: 92.2%;
}

#logoPlus {
    width: 40px;
    margin-top: 9px;
    display: none;
}

/*    timer icon   */
.clock1 {
    position: fixed;
    bottom: 5%;
    width: 40px;
    left: 20%;
    display: none;
    z-index: 1;
}

/*    music icon   */
.music1 {
    position: fixed;
    bottom: 5%;
    width: 40px;
    right: 20%;
    display: none;
    z-index: 1;
}

/*    bloco de texto da nota nova   */
.newNoteBlock {
    background-color: #160517;
    position: fixed;
    width: 350px;
    height: 660px;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
    text-align: center;
    border-radius: 60px;
    z-index: 1;
    top: -100%;
    box-shadow: 0 0 20px #602862;
    background-image: radial-gradient(circle, rgba(28, 7, 28, 1) 45%, rgba(38, 10, 36, 1) 100%);
}

.fullBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #210523;
    display: none;
}

textarea {
    background-color: transparent;
    border: none;
    color: white;
    font-family: FedraSansL;
    font-size: 20px;
    width: 90%;
    height: 70%;
    line-height: 30px;
    margin: auto;
    margin-top: 40%;
    resize: none;
    display: none;
}


textarea::placeholder {
    font-family: FedraSansL;
    font-size: 30px;
    text-align: center;
    color: white;
    opacity: 0.7;
    /*    padding-top:80px ;*/
    padding: 150px 30px 00px 30px;
    line-height: 50px;
    color: #F7D29B;
    resize: none;
}

.fadein {
    opacity: 0;
}

.backArrow {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    display: none;
}

.backArrowTimer {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    display: none;
}

#estilosTempo {
    z-index: -1;
    font-family: FedraSansB;
    color: white;
    font-size: 60px;
/*    padding-left: 5px;*/
    position: relative;
    top: 100px;
    left:48px;
/*    letter-spacing: 1px;*/
}

.timeControlers {
    top:72%;
    left: 50%;
    -webkit-transform: translate(-50%);
    position: absolute;
    width: 300px;
    vertical-align: middle;
    display: none;
    z-index: 1;
}

button.go {
    display: block;
    position: absolute;
    top:71%;
    left: 50%;
    -webkit-transform: translate(-50%);
    border:none;
    background-color: rgba(68, 10, 46);
    width: 70px;
    height:70px;
    border-radius: 55px;
    color: white;
    font-family: FedraSansB;
    font-size: 20pt;
    display: none;
    z-index:2;
}


.relogio {
    background-color: black;
    border-radius: 500px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    top: 45%;
    padding: 10px;
    width: 275px;
    height: 275px;
    box-shadow: 0 0 20px #602862;
    background-image: radial-gradient(circle, rgba(48, 7, 28, 1) 45%, rgba(18, 10, 36, 1) 100%);
    display: none;
}

.menosDez {
    background-color: #4F0C55;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    bottom: 150px;
    vertical-align: middle;
    font-family: FedraSansB;
    font-size: 15px;
    margin-left: 05px;
}

.menosUm {
    line-height: 30px;
    background-color: #602862;
    color: white;
    font-family: FedraSansB;
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    bottom: 150px;
    vertical-align: middle;
    margin: 0px 10px;
    font-size: 30px;
}

.maisUm {
    line-height: 30px;
    background-color: #602862;
    color: white;
    font-family: FedraSansB;
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    bottom: 150px;
    vertical-align: middle;
    margin: 0px 10px 0px 90px;
    font-size: 30px;
}

.maisDez {
    background-color: #4F0C55;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    bottom: 150px;
    vertical-align: middle;
    font-family: FedraSansB;
    font-size: 15px;
   
}



.horas {
        float: left;
position: fixed;
}

.doisPontos {
    float: left;
  position: fixed;
}

.minutos {
    float: left;
    position: fixed;
}


